.scroll-sidebar {
    height: calc(100% - 10px);
}

#sidebarnav .sidebar-item #user-profile{
    padding-left: 15px;
}

.form-control:focus{
    border-color: var(--primary-color);
}

::-webkit-input-placeholder {
    /* Edge */
    color: var(--text-gray-4);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--text-gray-4);
}

::placeholder {
    color: var(--text-gray-4);
}

html[dir="rtl"] .custom-select {
    background: url(../../admin/images/custom-select.png) left 0.35rem center
        no-repeat #fff;
}

.form-select {
    background-image: url(../../admin/images/custom-select.png);
}

.topbar .user-dd {
    width: 180px;
}

/* .topbar .mailbox.dropdown-notification {
    width: 385px;
} */
